<!-- home.ejs -->

<%- include("partials/header"); -%>
    <h1 class="home-title">The CyberJungle Blog</h1>

    <% posts.forEach(function(post) { %>
        <h1 class="post-title"><%= post.title %></h1>
        <p class="post-content"><%= post.content %></p>
        <p class="date"><%= post.date.toLocaleString() %></p>
        <a class="edit-btn" href="/edit/<%= post._id %>">Edit</a>
        <form action="/delete/<%= post._id %>?_method=DELETE" method="post" style="display: inline;">
            <button class="delete-btn" type="submit">Delete</button>
        </form>
        <hr>
    <% }) %>

<%- include("partials/footer"); -%>

